<!DOCTYPE html>
<html>
	<head>
		<title>崔中华的简历</title>
		<meta charset="utf-8"/>
		<!-- <link rel="stylesheet" type="text/css" href="css/bootstrap.css"/> -->
		<link rel="stylesheet" type="text/css" href="css/font-awesome.css">
		<link rel="stylesheet" type="text/css" href="js/skin/default/layer.css">
		<link rel="stylesheet" type="text/css" href="css/index.css"/>
	</head>
	<body id="app">
	<!--目前此处暂未处理好-->
	<!--
		<header>
			<div class="search-container">
				<div class="search">
					<div v-on:click="clickSearch" class="form-container">
						<input  type="text" placeholder="请输入要查找的内容" class="form-search" v-model="searchContent"/>
					</div>
					<button class="btn-search" v-on:click="search">搜索</button>
					<ul transition="suggests" class="suggest-search" v-if="suggest" v-on:click="choose">
						<li v-for="sc in suggestContent" v-text="sc | omit" data-index="{{$index}}"></li>
					</ul>
				</div>
			</div>
		</header>
	-->
		<div class="container clear-after">
			<div class="side pull-left">
				<div class="logo">
					<img src="images/logo.jpg">
					<h1>
						<span v-text="userName"></span>的简历
					</h1>
				</div>
				<div class="side-info">
					<ul>
						<li v-for="sideInfo in sideInfos">
							<span class="fa fa-bookmark"></span>
							<span v-text="sideInfo.title" class="side-info-item-title"></span>
							<ul class="side-info-item-content">
								<li v-for="sc in sideInfo.content" class="clear-after">
									<span class="pull-left">
										<span v-bind:class="sc.iconClass"></span>
										<span v-text="sc.text" class="text"></span>
									</span>
									<div v-if="sc.rate" class="rate pull-right">
										<div class="rate-inner" v-bind:style="sc.rate"></div>
									</div>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<div class="main">
				<ul>
					<li>
						<h1 class="main-title">
							<span class="fa fa-bookmark"></span>
							<span>Basic Info. 基本信息</span>
						</h1>
						<ul class="main-detail">
							<li v-for="ms in myselfs">
								<span class="detail-k" v-text="ms.userK"></span>:
								<span class="detail-v" v-text="ms.userN"></span>
							</li>
						</ul>
					</li>
					<li>
						<h1 class="main-title">
							<span class="fa fa-bookmark"></span>
							<span>Experience. 项目与工作经验</span>
						</h1>
						<ul class="projects">
							<li v-for="pro in projects">
								<h2 v-if="hasEqualInProject($index)" v-text="pro.company"></h2>
								<div class="project">
									<div class="project-title">
										{{datesFormat(pro.projectTitle,pro.startDate,pro.endDate)}}
										<a v-if="pro.url" href="{{pro.url}}" target="_blank">点我查看</a>
									</div>
									<div class="project-content">
										<div v-for="proContent in pro.projectContents" v-text="proContent | listNum ',' $index"></div>
										<div class="notice" v-if="pro.notices" v-for="notice in pro.notices" v-text="notice | listNum '()' $index"></div>
									</div>
								</div>
							</li>
						</ul>
					</li>
					<li>
						<h1 class="main-title">
							<span class="fa fa-bookmark"></span>
							<span>Skill. 技能清单</span>
						</h1>
						<ul class="main-skill">
							<li v-for="skill in skills">
								<h2 v-if="hasEqualInSkill($index)" v-text="skill.own"></h2>
								<div class="project">
									<h3 class="project-title" v-text="skill.lang"></h3>
									<div class="project-content">
										<div v-for="sc in skill.content" v-text="sc | listNum '、' $index"></div>
									</div>
								</div>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="js/jquery-2.0.3.js"></script>
	<script type="text/javascript" src="js/vue.js"></script>
	<script type="text/javascript" src="js/layer.js"></script>
	<script type="text/javascript" src="js/index.js"></script>
</html>